<h1 role="toolbar" class="dialog-header">
	<button type="button" title="Close" class="closeButton">
		<svg role="img">
			<title>Close</title>
			<use xlink:href="images/icons/clear.svg#icon" href="images/icons/clear.svg#icon"></use>
		</svg>
	</button>
	About PaintKFZ
	<small style="display: block;">Version 1</small>
</h1>
<p style="margin-top: 0.5em;">
	PaintKFZ was developed by <a href="#" target="_blank">KFZ</a>.
</p>
<!-- <p class="small">
	PaintKFZ uses:
	<a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toBlob#Polyfill" target="_blank">Canvas toBlob Polyfill</a>
	&middot;
	<a href="http://members.chello.at/easyfilter/canvas.html" target="_blank">easy.Filter</a>
	&middot;
	<a href="https://github.com/stefanpenner/es6-promise" target="_blank">ES6 Promise</a>
	&middot;
	<a href="http://www.daviddurman.com/flexi-color-picker" target="_blank">Flexi Color Picker</a>
	&middot;
	<a href="https://material.io" target="_blank">Material Design</a>
	&middot;
	<a href="https://materialdesignicons.com/" target="_blank">Material Design Icons</a>
	&middot;
	<a href="https://materialz.dev" target="_blank">MaterialZ</a>
	&middot;
	<a href="https://github.com/jquery/PEP" target="_blank">Pointer Events Polyfill</a>
</p> -->
<!-- <p class="small">
	PaintKFZ also uses Google Analytics; for details, see <a href="/privacy" target="_blank">Privacy</a>.
</p>
<p class="small">
	Pac-Man is owned by Bandai Namco Entertainment Inc.
</p> -->
<p class="small"> 
	To inspire the next generation of artists, dreamers, and creators by making art accessible and enjoyable for all children.

We believe every child is an artist, and we’re here to nurture their creative journey.

Let’s create something magical together! 🎨✨
</p>
<hr />
<ul class="list">
	<li>
		<a href="https://chrome.google.com/webstore/detail/paintz/gdjcnhanmagpjdpilaehedkchegnkdoj" target="_blank" id="cwsInstallLink" role="button">
			<svg role="img">
				<use xlink:href="images/icons/cws.svg#icon" href="images/icons/cws.svg#icon"></use>
			</svg>
			Install PaintKFZ from the Chrome Web Store for quick access
		</a>
	</li>
	<li>
		<button type="button" id="pwaInstallButton">
			<svg role="img">
				<use xlink:href="images/icons/install_mobile.svg#icon" href="images/icons/install_mobile.svg#icon"></use>
			</svg>
			Install PaintKFZ as an app for quick access
		</button>
	</li>
	<!-- <li>
		<a href="https://chrome.google.com/webstore/detail/paintz/gdjcnhanmagpjdpilaehedkchegnkdoj/support" target="_blank" id="cwsFeedbackLink" role="button">
			<svg role="img">
				<use xlink:href="images/icons/cws.svg#icon" href="images/icons/cws.svg#icon"></use>
			</svg>
			Submit feedback on the Chrome Web Store
		</a>
	</li> -->
	<li>
		<a href="https://github.com/bijaypadhi/paintz" target="_blank" role="button">
			<svg role="img">
				<use xlink:href="images/icons/github.svg#icon" href="images/icons/github.svg#icon"></use>
			</svg>
			Report a problem or request a feature on GitHub
		</a>
	</li>
	<li>
		<a href="https://patreon.com/ZMYaro" target="_blank" role="button">
			<svg role="img">
				<use xlink:href="images/icons/patreon.svg#icon" href="images/icons/patreon.svg#icon"></use>
			</svg>
			Support PaintKFZ development
		</a>
	</li>
	<!-- <li>
		<a href="https://ko-fi.com/ZMYaro" target="_blank" role="button">
			<svg role="img">
				<use xlink:href="images/icons/mug.svg#icon" href="images/icons/mug.svg#icon"></use>
			</svg>
			Buy me a coffee
		</a>
	</li> -->
</ul>
<hr />
<ul class="list">
	<li>
		Follow @PaintKFZ on
		<span class="social-links">
			<a href="https://facebook.com/KidsFunZone" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Facebook</title>
					<use xlink:href="images/icons/fb.svg#icon" href="images/icons/fb.svg#icon"></use>
				</svg>
			</a><a href="https://instagram.com/KidsFunZone" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Instagram</title>
					<use xlink:href="images/icons/instagram.svg#icon" href="images/icons/instagram.svg#icon"></use>
				</svg>
			</a><a href="https://twitter.com/KidsFunZone" target="_blank" role="button" style="display: inline-block;">
				<svg role="img">
					<title>Twitter</title>
					<use xlink:href="images/icons/twitter.svg#icon" href="images/icons/twitter.svg#icon"></use>
				</svg>
			</a>
		</span>
	</li>
</ul>
<div class="dialog-footer" style="padding-left: 16px;">
	<!-- <div style="float: left; padding-top: 12px;">
		<span style="opacity: 0.1;">Ctrl+Shift+</span><div style="display: inline-block; background-color: yellow; width: 16px; height: 16px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; margin-bottom: -2px;"></div>
	</div> -->
	<button type="submit">Close</button>
</div>
